/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap'); 


/* Styles for the body */

@font-face {
	font-family: 'Anton';
	src: url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@300;400&display=swap');
}

body {
	font-family: "Rubik", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	color: #f8f8fc;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #9d855d;
}

.resume-main {
	background-color: #330f11;
}

.resume-aside {
	background-color: #5d4746;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #9d855d;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.language-progress {
	background-color: #000000 !important}

.color {
	color:#4D3319
}